<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/066acb04-a58e-4abe-ba8b-b9f3f247cbde/resourceGroups/RgMS/providers/Microsoft.ContainerRegistry/registries/acrusermicroservice</ResourceId>
    <ResourceName>acrusermicroservice</ResourceName>
    <ResourceGroup>RgMS</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://acrusermicroservice.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e2a9edc9-ce59-40a3-b3b3-1fef656902a4</ProjectGuid>
  </PropertyGroup>
</Project>