<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/38abe410-0b4a-450a-9008-efd4ed907dac/resourceGroups/POC_RG/providers/Microsoft.ContainerRegistry/registries/POCUserService</ResourceId>
    <ResourceName>POCUserService</ResourceName>
    <ResourceGroup>POC_RG</ResourceGroup>
    <Subscription>POC_Sub</Subscription>
    <RegistryUrl>https://pocuserservice.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e2a9edc9-ce59-40a3-b3b3-1fef656902a4</ProjectGuid>
  </PropertyGroup>
</Project>